Brotli==1.1.0
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
cssselect2==0.8.0
fonttools==4.56.0
markdown2==2.5.3
numpy==1.24.3
opencv-python==4.8.0.74
packaging==24.2
pandas==2.2.3
pdf2image==1.16.3
pdfminer.six==20231228
pdfplumber==0.11.5
Pillow==10.0.0
pycparser==2.22
pydyf==0.11.0
PyMuPDF==1.22.3
pypdfium2==4.30.1
pyphen==0.17.2
pytesseract==0.3.10
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.2
weasyprint==65.0
webencodings==0.5.1
zopfli==0.2.3.post1
